/* 1.   The header element should have a 1px, goldenrod border. */
header {
    border: 1px solid goldenrod;
}

/* 2.	Convert the ul in the navigation element into a series
of horizontal links with # as the href value, without bullets,
and have some space between them horizontally. */
ul.navigation {
    list-style-type: none;

}

/* 3.	Ensure that the navigation is semantically marked as
such (i.e. wrap it in the correct HTML tag). */
.navigation > li {
    display: inline;
    margin-right: 15px;
}

/* 4.	Any text in an element with class "disabled" should be
colored grey, unless it is inside an anchor tag. If inside an anchor,
it should be colored purple. */
.disabled {
    color: grey;
}

/* text in class disabled within a should be purple */
a.disabled {
    color: purple;
}

a > span.disabled {
    color: purple;
}

/* 5.	Any text inside an element with a class of "active" should be colored yellow. */
.active {
    color: yellow;
}

/* 8.	Make the "I'm red" text colored red. */
.red {
    color: red;
}

/* 10.	The sibling h4 of the red element should have a background color of red. */
.red + h4 {
    background: red;
}

/* 9.	Make the "I'm blue" text colored blue. */
.blue {
    color: blue;
}

/* 11.	The sibling h4 of the blue element should have background color of blue. */
.blue + h4 {
    background: blue;
}

/* 12.	Any h4 that is a direct child of grandparent should have a 1px border
with rounded corners. */
.grandparent > h4 {
    border-radius: 15px;
    border: 1px solid black;
}

/* 13.	Elements with a class of promo should have bold text that is also colored gold. */
.promo  {
    font-weight: bold;
    color: gold;
}

/* 14.	Without adding any other attributes to the input fields in the footer, write a
CSS selector that makes any text input field have a height of 25px. */
span > input {
    line-height: 25px;
}