header {
    border: 1px solid goldenrod;
}

ul.navigation {
    list-style-type: none;

}

.navigation > li {
    display: inline;
    margin-right: 15px;
}

.disabled {
    color: grey;
}

/* text in class disabled within a should be purple */
a.disabled {
    color: purple;
}

a > span.disabled {
    color: purple;
}

.active {
    color: yellow;
}

.red {
    color: red;
}

.red + h4 {
    background: red;
}

.blue {
    color: blue;
}

.blue + h4 {
    background: blue;
}

.grandparent > h4 {
    border-radius: 15px;
    border: 1px solid black;
}

.promo  {
    font-weight: bold;
    color: gold;
}

span > input {
    font-size: 25px;
}